<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <webSocket enabled="false" />
        <handlers>
            <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
        </handlers>
        <iisnode      
            nodeProcessCommandLine="d:\home\site\wwwroot\bin\x64\node.exe"
            nodeProcessCountPerApplication="1"
            watchedFiles="*.js;iisnode.yml"
            loggingEnabled="true"
            logDirectory="iisnode"
            maxLogFileSizeInKB="128"
            maxTotalLogFileSizeInKB="1024"
            maxLogFiles="20"
            flushResponse="false"      
            enableXFF="false"
        />
    
    
    </system.webServer>


</configuration>